# Test resutlt

## Test 0

- confusion matrix:
[[269. 240.]
 [148. 683.]]
- recall = 0.8220943533464885
